.main-page {
    display: flex;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    height: 100vh;
    overflow-y: hidden;
}

.chats {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    position: relative;
}

.chats__header {
    background-color: #313638;
    color: white;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto 1fr auto;
    justify-content: start;
    column-gap: 1vw;
    align-items: center;
    padding: 2vw;
    border-right: 2px solid white;
    height: 6rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.chats__exit-link {
    margin-right: 1vw;    
    background-color: transparent;
}

.chats__user-avatar {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color:#F06543;
    /* margin-right: 1vw; */
}

.chats__main-user-name {
    font-weight: 700;
}

.chats__user-setting-button {
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: lightgray;
    background-color: transparent;
}

.chats__user-setting-button > img {
    width: 100%;
}

.chats__setting-user-name {

}

.chats__setting-user-password {

}

.chats__setting-user-submit-password {

}

.user-form {
    display: none;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    justify-items: center;
    row-gap: 2vw;
    position: absolute;
    right: 5vw;
    top: 10vw;
    margin-left: -5vw;
    background-color:#313638;
    padding: 2vw;
    border-radius: 25px 5px 25px 25px;
}

.user-form > input {
    padding: 1vw;
    border-radius: 25px;
}

.user-form > button {
    padding: 1vw;
    border-radius: 25px;
}

.user-form > button:hover,
.user-form > button:focus {
    background-color: lightgray;
}

.user-form > button:active {
    background-color: gray;
}

.chats__list {
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    border-right: 2px solid black;
    flex-grow: 1;
}

.chat {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-bottom: 2px solid black;
    grid-template-areas: 
    "chatIcon chatName"
    "chatIcon lastMessage";
    height: 6rem;
    padding: 1vw 2vw;
    justify-items: start;
    background-color: white;
}

.chat:hover,
.chat:focus {
    background-color: lightgray;
}

.chat:active {
    background-color: gray;
}

.chat__icon {
    width: 50px;
    grid-area: chatIcon;
    overflow: hidden;
}

.chat__icon img {
    width: 100%;
}

.chat__chat-name {
    grid-area: chatName;
    font-weight: 700;
}

.chat__last-message {
    grid-area: lastMessage;
    margin-top: 1vw;
}

.chat__date-last-message {
    grid-area: dateLastMessage;
}

.chats__add {
    background-color:#F06543;
    width: fit-content;
    border-radius: 50%;
    padding: 1vw;
    position: absolute;
    top: 90vh;
    left: 4vw;
}

.add-chat {
    display: none;
    justify-content: center;
    justify-items: center;
    row-gap: 2vh;
    background-color:#313638;
    padding: 2vw;
    position: absolute;
    top: 73vh;
    left: 8vw;
    border-radius: 20px 20px 20px 5px;
}

.add-chat > input {
    padding: 1vw;
    border-radius: 20px;
}

.add-chat > button {
    padding: 1vw;
    border-radius: 20px;
}

.add-chat > button:hover,
.add-chat > button:focus {
    background-color: lightgray;
}

.add-chat > button:active {
    background-color: gray;
}

.messages {
    /* display: flex;
    flex-flow: column nowrap; */
    /* flex-grow: auto 1 auto; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-content: start;
    overflow-y: auto;
    /* overscroll-behavior: contain; */
}

.main-page__messages {

}

.messages__header {
    background-color: #313638;
    color: white;
    align-items: center;
    padding: 0 2vw;
    border-right: 2px solid white;
    height: 6rem;
    display: grid;
    grid-template-columns: min-content auto;
    /* justify-content: start; */
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.chat-menu {
    width: 33vw;
    height: 66vh;
    background-color:#313638;
    color: black;
    position: absolute;
    left: 50%;
    margin-left: -16.5vw;
    top: 20vh;
    border-radius: 20px;
    display: none;
    align-content: start;
    justify-items: center;
    row-gap: 2vh;
    padding: 5vw;
    grid-template-rows: auto auto 1fr auto;
    overflow-y: hidden;
}

.chat-menu__input {
    padding: 1vw;
    border-radius: 20px;
}

.chat-menu__invite-button {
    padding: 1vw;
    border-radius: 20px;
}

.chat-menu__invite-button:hover,
.chat-menu__invite-button:focus {
    background-color: gray;
}

.chat-menu__invite-button:active {  
    background-color: dimgray;
}

.chat-menu__users {
    overflow-y: auto;
    display: grid;
    grid-auto-flow: row;
    justify-self: stretch;
    align-content: start;    
    row-gap: 2vh;
    border-top: 4px solid lightgray;
    border-bottom: 4px solid lightgray;
    padding: 2vh 0;
}

.chat-menu__user-item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1vw;
}

.chat-menu__user-item:first-child > div {
    background-color:#F06543;
    color: white;
}

.chat-menu__user-item:first-child > div > button {
    display: none;
}

.chat-menu__user-item > img {
    width: 3vw;
    background-color: lightgray;
    border-radius: 50%;
}

.chat-menu__user-item > div {
    background-color: lightgray;
    padding: 1vw;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-radius: 20px;
}

.chat-menu__user-item > div > span {
}

.chat-menu__user-item > div > button {  
    width: 3vw;
    border-radius: 5px;
}

.chat-menu__user-item > div > button:hover,
.chat-menu__user-item > div > button:focus {  
    background-color: gray;
}

.chat-menu__user-item > div > button:active {  
    background-color: dimgray;
}

.chat-menu__user-item > div > button > img {  
    width: 100%;
}

.chat-menu__delete-chat {
    padding: 1vw;
    border-radius: 20px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.chat-menu__delete-chat:hover,
.chat-menu__delete-chat:focus {
    background-color: gray;
}

.chat-menu__delete-chat:active {  
    background-color: dimgray;
}

.chat-menu__delete-chat > img {
    width: 2vw;
    margin-right: 1vw;
}

.messages__list {
    /* align-self: start; */
    display: grid;
    grid-auto-rows: min-content;
}

.messages__chat-icon {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: lightgray;
}

.messages__chat-icon img {
    width: fit-content;
}

.messages__chat-name {
    justify-self: start;
    margin-left: 2vw;
    font-weight: 700;
}

.messages__dots {
    width: 40px;
    background-color: transparent;
    justify-self: end;
}

.messages__dots img {
    width: 100%;
}

/* .messages__list {
    height: 80vh;
    position: relative;
} */

.message {
    display: grid;
    grid-template-areas:
    "senderIcon main options";
    justify-content: start;
    margin: 1.5vw;
    column-gap: 0.5vw;
}

/* .message > * {
    border: 2px solid black;
} */

.message__icon {
    width: 50px;
    grid-area: chatIcon;
    border-radius: 50%;
    overflow: hidden;
    background-color:#313638;
    grid-area: senderIcon;
    align-self: start;
}

.message__icon img {
    width: 100%;
}

.message__main {
    grid-area: main;
    background-color: #313638;
    color: white;
    display: grid;
    grid-template-areas: 
    "senderName senderName"
    "textContent textContent"
    "image image"
    "date time";
    gap: 0.5vw 2.5vw;
    padding: 1vw;
    border-radius: 5px 20px 20px 20px
}

.message__sender-name {
    grid-area: senderName;
    font-weight: 700;
}

.message__text {
    grid-area: textContent;
}

.message__image {
    grid-area: image;
    max-width: 20vw;
}

.message__image > img {
    width: 100%;
}

.message__date {
    grid-area: date;
    justify-self: start;
}

.message__time {
    grid-area: time;
    justify-self: end;
}

.message__options {
    grid-area: options;
}

.message__delete-button {
    width: 2vw;
    background-color: transparent;
    margin: 0.5vw 0.5vw;
}

.message__delete-button > img {
    width: 100%;
}

.input {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    /* align-self: end; */
    position: sticky;
    bottom: 0;
    right: 0;
    background-color: white;
    /* border-top: 2px solid black; */
    align-items: center;
}

/* .input > * {
} */

.input__attach {
    padding: 0.2vw;
}

.input__attach:hover,
.input__attach:focus {
    background-color: lightgray;
}

.input__attach:active {
    background-color: gray;
}

.input__text {
    padding: 0.5vw;
    /* height: 50%; */
    resize: none;
    border: 2px solid #313638;
    border-radius: 30px;
    margin: 1vw 0;
}

.input__send {
    padding: 0.2vw;
    background-color: transparent;
}

.input__send:hover,
.input__send:focus {
    background-color: lightgray;
}

.input__send:active {
    background-color: gray;
}

._hidden {
    display: none;
}

._my-whole-message {
    grid-template-areas: "options main senderIcon";
    justify-self: end;
}

._my-message {
    background-color: #F06543;
    border-radius: 20px 5px 20px 20px;
}

._my-message .message__icon {
    background-color: #F06543;
}