.login__messenger-icon {
    width: 500px;
    margin: 0 auto;
}

.login__messenger- img {
    width: 100%;
}

.login__title {
    margin: 0 auto;
    font-size: 2rem;
    width: fit-content;
}

.login__form {
    margin: 5vh auto;
    display: block;
    width: 25vw;
}

.login_form__buttons {
    display: flex;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}


.login__input {
    display: block;
    outline: 2px solid black;
    border-radius: 20px;
    padding: 1vw;
    margin: 2vh auto;
}

.login__submit-button {
    margin: 5px;
    display: block;
    background-color: orangered;
    color: white;
    width: 100px;
    text-align: center;
    padding: 15px 0 15px 0;
    border-radius: 10px;
    transition-duration: 0.3s;
    border: 2px solid black;
    font-size: 16px;
    font-family: 'Arial', SansSerif;
    text-decoration: none;
    cursor: pointer;
}

.login__submit-button:hover,
.login__submit-button:focus {
    transform: scale(1.2);
}

.login__submit-button:active {
    transform: scale(0.8);
}
