/* .register {
} */

.register__messenger-icon {
    width: 30vw;
    margin: 0 auto;
}

.register__messenger- img {
    width: 100%;
}

.register__title {
    margin: 0 auto;
    font-size: 2rem;
    width: fit-content;
}

.register__form {
    margin: 5vh auto;
    display: block;
    width: 25vw;
}

.register__input {
    display: block;
    outline: 2px solid black;
    border-radius: 20px;
    padding: 1vw;
    margin: 2vh auto;
}

.register__submit-button {    
    margin: 2vh auto;
    display: block;
    background-color: orangered;
    color: white;
    width: fit-content;
    padding: 1vw;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.register__submit-button:hover,
.register__submit-button:focus {
    transform: scale(1.2);
}

.register__submit-button:active {
    transform: scale(0.8);
}